<head>
  <link href='http://fonts.googleapis.com/css?family=Abel|Ubuntu:300,400,500,700,300italic,400italic,500italic,700italic|Droid+Sans+Mono|Source+Code+Pro:200,300,400,500,600,700,900|Exo:100,400|Cantarell:400,700' rel='stylesheet' type='text/css'>
</head>

<style>
*
{
font-family: 'Source Code Pro';
}
</style>


<div class="col-lg-6">
<center>
 <h1>Login</h1>
  <%= form_tag sessions_path do %>
    <div class="field">
      <%= label_tag :email %><br />
      <%= text_field_tag :email, params[:email], class: "form-control input-sm" %> 
    </div>
    <div class="field">
      <%= label_tag :password %><br />
      <%= text_field_tag :password, params[:password], :type => "password", class: "form-control input-sm"  %> 
    </div>
    <p>
    <div class="actions"><%= submit_tag "Log In", class: "btn btn-primary" %></div>
    </p>
  <% end %>
  </center>
  </div>