<% if @feed.count != 0 %>
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <% @feed.each do |news| %>
    <li data-target="#carousel-example-generic" data-slide-to="0"></li>
    <% end %>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">

    <div class="item active" style="height: 300px;">

      <img src= <%= @feed.first.image %> style="height: 300px; text-align: left; margin-left: 200px">
      <div class="carousel-caption">
      <div class="carousel-caption" style="text-align: right">
      <% if @feed.first.has_attribute?("album_id") %>
        <h1>"<%= @feed.first.album.title %>"</h1>
        <h2><%= @feed.first.artist.name %></h2>
        <h3>Written by <%= @feed.first.author %></h3>
        <p><%= truncate(@feed.first.content, length: 200) %></p>
      <% else %>
        <h1>"<%= @feed.first.title %>"</h1>
        <h2><%= @feed.first.artist.name %></h2>
        <h3>Written by <%= @feed.first.author %></h3> 
        <p><%= truncate(@feed.first.content, length: 200) %></p>
      <% end %>
      </div>   
      </div>
    
    </div>

    <% @feed.delete_at(0) %>

    <% @feed.each do |article| %>
    <div class="item">
      <img src=<%=article.image%> style="height: 300px; text-align: left; margin-left: 200px">
      <div class="carousel-caption" style="text-align: right">
      <% if article.has_attribute?("album_id") %>
      	<h1>"<%= article.album.title %>"</h1>
      	<h2><%= article.artist.name %></h2>
      	<h2>Written by <%= article.author %></h2>
        <p><%= truncate(article.content, length: 200) %></p>
         <% else %>
        <h1>"<%= article.title %>"</h1>
        <h2><%= article.artist.name %></h2>
        <h3>Written by <%= article.author %></h3> 
        <p><%= truncate(article.content, length: 200) %></p>
        <% end %>
      </div>
    </div>
    <% end %>
   </div>
  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>
<% end %>
