

<%= form_for @article do |f| %>
  <div class="control-group">
   
<%= f.label :title %>
    <div class="controls">
    <%= f.text_field :title %>
    </div>
  
    <%= f.label :artist %>
    <div class="controls">
      <input id = "artists" <%= text_field(:artist, :name) %>
    </div>
    

    <%= f.label :album %>
    <div class="controls">
      <input id = "albums" <%= text_field(:album, :title) %>
    </div>
    
    <%= f.label :rating %> 0 to 10
    <div class="controls"> 
      <%= f.number_field :rating, :in => 0..10 %>
    </div>

    <%= f.label :year %> Album Released
    <div class="controls">
      <%= f.number_field :year %>
    </div>



  </div>
  <div class="control-group">
    <%= f.label :content %>
    <div class="controls">
      <%= f.text_area :content, rows: "20", cols: "100" %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil %>
    <%= link_to 'Cancel', articles_path %>
  </div>
<% end %>


