<head>
  <meta charset="utf-8">
  <title>jQuery UI Autocomplete - Default functionality</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.1/jquery-ui.js"></script>
  <link rel="stylesheet" href="/resources/demos/style.css">
  <link href='http://fonts.googleapis.com/css?family=Abel|Ubuntu:300,400,500,700,300italic,400italic,500italic,700italic|Droid+Sans+Mono|Source+Code+Pro:200,300,400,500,600,700,900|Exo:100,400|Cantarell:400,700' rel='stylesheet' type='text/css'>

<style>
*
{
font-family: 'Source Code Pro';
}
</style>

 <script>
  $(function() {
    var x = <%= raw @albumTitles.as_json %>;
    $( "#albums" ).autocomplete({
      source: x
    });
  });
  </script>


  <script>
    $(function() {
    var x = <%= raw @artistNames.as_json %>;
    $( "#artists" ).autocomplete({
      source: x
    });
  });
  </script>


 
</head>

<%= @albumTitles %>
<%= @artistNames %>
<%= render :partial => 'form' %> 
