<script>
$(document).ready(function() {



  var replacementContent = function() {
    $.ajax( {
     type : 'GET',
     url : '#item_path',
     dataType : 'html',
     success : function(data) {
         $('#refreshable').html(data);
     },

  error: function(XMLHttpRequest, testStatus, errorThrown) {
     alert('Error!');
   }

   });

}
setInterval( function() {
  $("#refreshable").load(location.href+" #refreshable>*", "");
}, 10000);
});
</script>


<script>
$(function() {
    var $elie = $("#currently_playing"), degree = 0, timer;
    rotate();
    function rotate() {
        
        $elie.css({ WebkitTransform: 'rotate(' + degree + 'deg)'});  
        $elie.css({ '-moz-transform': 'rotate(' + degree + 'deg)'});                      
        timer = setTimeout(function() {
            ++degree; rotate();
        },50);
    }

}); 



</script>


<head>
  <link href='http://fonts.googleapis.com/css?family=Abel|Ubuntu:300,400,500,700,300italic,400italic,500italic,700italic|Droid+Sans+Mono|Source+Code+Pro:200,300,400,500,600,700,900|Exo:100,400|Cantarell:400,700' rel='stylesheet' type='text/css'>

</head>

<style>
*
{
font-family: 'Source Code Pro';
}

#DJicon img
{
  height: 250px;
}
</style>





<div class = "row">
<div class="col-lg-6">
<div id = "wrap" style = "height: 350px; width: 350px; margin-left: auto; margin-right: auto; padding-top">
<div id = "currently_playing" style="border-style: transparent; border-radius: 100%; height: 350px; width: 350px; padding-top: 40px; background-image: url(<%= asset_path 'CD.png' %>); float: center; z-index: -5; position: absolute">
</div>

<div id = "refreshable" style = "padding-top: 45px; color: yellow; margin-left: auto; margin-right: auto">

<% if @allowed_time > @time %>
<!-- Regan's Radio Show -->
<div id = "box" style="margin-left: auto; margin-right: auto">
<center>Currently;</center>
<center><p><strong><%=@track.artist %></strong></p></center>
</div>
<% if @item_array_size != 0 %>
<center><img src=<%= @item_album_artwork.first.artwork_url100 %> style = "height: 150px; border-radius: 100%; border: white solid 10px"></center>
<% end %>
  <center>
  "<%= @track.title %>"
  <% if @track.album != "" %>
    <div id = "box" style="width: 150px">
      <p><em><%= @track.album %></em></p>
    </div>
  <% end %>
  </center>

<% else %>
  <center><div id = "DJicon"><%= image_tag("voice12(1).png") %></div></center>
<% end %>


</div>
</div>

<center><%= render :partial => 'requests/form' %> </center>

</div>


<!-- Ucla's Radio


-->
<div class="col-lg-6">
<h2>Recent Tracks</h2>
<table>
<% @recent_tracks.each do |t|%>
  <tr><td>"<%=t.title%>" <b><%=t.artist %></b> </td></tr>
<tr><td> <%= t.created_at.strftime('%l:%M %p %m/%d') %></td></tr>
<% end %>
</table>

</div>
</div>








<!-- <video controls="" height = "10" name="media"><source src="http://stream.uclaradio.com:8000/listen" type="audio/mpeg"></video> -->


