<script>
$(document).ready(function() {
  var replacementContent = function() {
    $.ajax( {
     type : 'GET',
     url : '#item_path',
     dataType : 'html',
     success : function(data) {
         $('#refreshable').html(data);
     },

  error: function(XMLHttpRequest, testStatus, errorThrown) {
     alert('Error!');
   }

   });

}
setInterval( function() {
  $("#refreshable").load(location.href+" #refreshable>*", "");
}, 10000);
});
</script>
<head>
  <link href='http://fonts.googleapis.com/css?family=Abel|Ubuntu:300,400,500,700,300italic,400italic,500italic,700italic|Droid+Sans+Mono|Source+Code+Pro:200,300,400,500,600,700,900|Exo:100,400|Cantarell:400,700' rel='stylesheet' type='text/css'>
</head>

<style>
*
{
font-family: 'Source Code Pro';
}
</style>

<audio controls>
<source src="http://stream.uclaradio.com:8000/listen" type="audio/mpeg" />
</audio>
<div id = "refreshable">


<% if @allowed_time > @time %>
<!-- Regan's Radio Show -->
<div id ="outer" style = "width: 100%;">
<center style = "width: 200px; margin: 0 auto; line-height: 200%">Currently Playing</center>
<div id="inner" style = "width: 100px; margin: 0 auto;">
<% if @item_array_size != 0 %>
<img src=<%= @item_album_artwork.first.artwork_url100 %>>
<% end %>
</div>
<div id= "info" style = "line-height: 50%">
<center>
  <p>"<%= @track.title %>"</p>
  <p>Artist - <%=@track.artist %></p>
  <% if @track.album != "" %>
  <p>Album - <%= @track.album %></p>
  <% end %>
</center>
</div>

</div>
</div>
<% end %>
<!-- Ucla's Radio


-->

<h1>Recent Tracks</h1>
<table>
<% @recent_tracks.each do |t|%>
<tr><td> <%= t.created_at.strftime('%l:%M %p %b, %d: ') %>
  "<%=t.title%>" by <b><%=t.artist %></b> </td></tr>
<% end %>
</table>


</div>



 <div class="btn-group">
              <%= link_to "Sign Up", new_user_path %>
              <%= link_to "Log In", new_session_path %>
              <% if current_user %>
              <%= link_to "Log Out", session_path("current"), method: 'delete' %>
              <%end%>

  </div>



<!-- <video controls="" height = "10" name="media"><source src="http://stream.uclaradio.com:8000/listen" type="audio/mpeg"></video> -->


