<script>
$(document).ready(function() {
  var replacementContent = function() {
    $.ajax( {
     type : 'GET',
     url : '#item_path',
     dataType : 'html',
     success : function(data) {
         $('#refreshable').html(data);
     },

  error: function(XMLHttpRequest, testStatus, errorThrown) {
     alert('Error!');
   }

   });

}
setInterval( function() {
  $("#refreshable").load(location.href+" #refreshable>*", "");
}, 5000);
});
</script>


<div id = "refreshable">

<!-- Regan's Radio Show -->
<h1>Currently Playing</h1>
<table>
<tr><td>"<%= @item.name %>"</td></tr>
<tr><td>Artist: <%=@item.artist %></td></tr>

<% if @item.album != "" %>
<tr><td>Album: <%=@item.album %></tr>
<%end %>

</table>

<p></p>

<!-- Ucla's Radio -->
<h1>Currently Playing On UCLARadio</h1>
<table>
<tr><td>"<%= @item_ucla.name %>"</td></tr>
<tr><td>Artist: <%=@item_ucla.artist %></td></tr>

<% if @item_ucla.album != "" %>
<tr><td>Album: <%=@item_ucla.album %></tr>
<%end %>

</table>

<p></p>


<h1>Recent Tracks</h1>
<table>
<% @recent_tracks.each do |t|%>
<tr><td> <%= t.created_at.strftime('%l:%M %p %b, %d: ') %>
  "<%=t.title%>" by <b><%=t.artist %></b> </td></tr>
<% end %>
</table>
</div>
