
<!-- Refreshing the Currently Playing -->
<script>
$(document).ready(function() {



  var replacementContent = function() {
    $.ajax( {
     type : 'GET',
     url : '#item_path',
     dataType : 'html',
     success : function(data) {
         $('#refreshable').html(data);
     },

  error: function(XMLHttpRequest, testStatus, errorThrown) {
     alert('Error!');
   }

   });

}
setInterval( function() {
  $("#refreshable").load(location.href+" #refreshable>*", "");
}, 10000);
});
</script>


<!--Rotating the Vinyl -->
<script>
$(function() {
    var $elie = $("#currently_playing"), degree = 0, timer;
    rotate();
    function rotate() {
        
        $elie.css({ WebkitTransform: 'rotate(' + degree + 'deg)'});  
        $elie.css({ '-moz-transform': 'rotate(' + degree + 'deg)'});                      
        timer = setTimeout(function() {
            ++degree; rotate();
        },50);
    }

}); 



</script>


<!-- Showing Article as floating html-->
<script type="text/javascript">
  $(document).ready(function() {
  $('.ajax_link').click(function(event) {
  event.preventDefault();
  var url = $(this).attr('href');
  $.get(url, function(htmloutput) {
  $('#article_show').html(htmloutput);
  $('#modal_article').modal('show');


  });

  });
  });
</script>

<div class="modal fade" id="modal_article" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
  <div class="modal-content">
  
  <div class="modal-body">
  <div id="article_show"></div>
  </div>
  
  <div class="modal-footer">
  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
  </div>
  
  </div>
  </div>
</div>




<style>

#DJicon img
{
  height: 250px;
}
</style>





    <div class="container">
      <div class="row">

        <div class="col-lg-4">
          <div style="background-color: white; text-align: right; border: none">
            <h2>News</h2>
            <% @newsfeed.each do |status| %>
              <% if status.has_attribute?("album_id")%>
                <% if status.approval == true %>
                  <h3 style="margin-right: 80px"><a href= "<%= article_path(status) %>" class="ajax_link"><%= status.album.title %></a></h3>
                  <h5 style="margin-right: 80px">Reviewed By <%= status.author %> </h5>
                  <h6 style="margin-right: 80px"><%= status.created_at %></h6>
                  <img src = <%= status.image %> height=75px width=75px style="float: right; margin-top: -80px"> 
                <% end %>
              <% else %>
                <h3><a href="<%= news_path(status) %>" class="ajax_link"> <%= status.title %></a></h3>
                              <h6><%= status.created_at %></h6>
              <% end %>
            <% end %>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->



        



<div class="col-lg-4">
<div id = "wrap" style = "height: 350px; width: 350px; margin-left: auto; margin-right: auto">

<div id = "currently_playing" style="border-style: transparent; border-radius: 100%; height: 350px; width: 350px; padding-top: 35px; background-image: url(<%= asset_path 'vinyl.png' %>); float: center; z-index: -5; position: absolute">
</div>

<!--padding top : how far the text is from the border of the disc -->
<div id = "refreshable" style = "padding-top: 50px; color: yellow; margin-left: auto; margin-right: auto; border-radius: 100%">

<% if @allowed_time > @time %>
<!-- Regan's Radio Show -->
    <div id = "box" style="margin-left: auto; margin-right: auto">
      <center><strong><%=@track.artist %></strong> <br />  "<%= @track.title %>"</center>
    </div>

    <% if @item_array_size != 0 %>
        <center><img src=<%= @item_album_artwork.first.artwork_url100 %> style = "height: 160px; border-radius: 100%; border: white solid 10px"></center>
    <% end %>
  

    <center>
      <% if @track.album != "" %>
          <div id = "box" style="width: 150px"><p><em><%= @track.album %></em></p></div>
      <% end %>
    </center>

      <% else %>
        <center><div id = "DJicon"><%= image_tag("press.svg") %></div></center>
      <% end %>


    </div>
</div>

<center><%= render :partial => 'requests/form' %> </center>

</div>


<!-- Ucla's Radio


-->
      <div class="col-lg-4">
            <h2>Recent Tracks</h2>
            <table>
              <% @recent_tracks.each do |t|%>
                <tr><td>"<%=t.title%>" <b><%=t.artist %></b> </td></tr>
              <tr><td> <%= t.created_at.strftime('%l:%M %p %m/%d') %></td></tr>
              <% end %>
            </table>
  
          </div>
        </div>

      </div><!--/row-->


    </div> <!-- /container -->







<!-- <video controls="" height = "10" name="media"><source src="http://stream.uclaradio.com:8000/listen" type="audio/mpeg"></video> -->


