<!DOCTYPE html>
<html>
<head>
  <title>DJ</title>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <style>



#center{
	width: 100%;
	text-align: center;
	position: fixed;
	margin: 0 auto;
	left: 0;
	right: 0;}
#navcontainer{
	margin: 0 auto;
	width: 330px;
	background-color: transparent;
	border: thick;
	border-color: black;
	transition: background-color .5s ease, visibility .5s ease, display .5s ease;}
#navcontainer ul{
	margin: 0 auto;
	padding: 0;
	list-style-type: none;
	transition: background-color .7s ease, visibility .7s ease, display .7s ease;
	z-index: -1;}
.icon {
	transition: background-color .5s ease, visibility .5s ease, display .5s ease;
	padding-top: 10px !important;
	z-index: -1;
	line-height: 10px;
	background-color: rgba(248,244,244,0.8);
	transition: background-color 0.5s ease, color .9s ease, height .5s ease;
	//display: inline;
	width: 110px !important;
	float: left;
	color: black;
	font-family: 'Ubuntu', sans-serif;
	font-size:23px;
	//padding: 30px;
	border: 5px black !important;
	margin: 0px;
	text-align: center;
	visibility: visible;
	padding: 0px;}
.icon:hover{
	background-color:rgba(0,0,0,0.8);
	color: white;
	-moz-box-shadow:    inset 0 0 10px #000000;
	-webkit-box-shadow: inset 0 0 10px #000000;
	box-shadow:         inset 0 0 10px #000000;
	z-index: -1;}
.icon:hover img {-webkit-filter: invert(100%); margin-top: 10px;}
img {
	transition: margin-top 0.7s ease;
	position: relative;}
  </style>

        <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
		<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script>
$(document).ready(
	$('img').hover(
		function()
		{
			$(this).css('margin-top', '10px');
		},
		function()
		{
			$(this).css('margin-top', '0px')
		}
		)
	)
</script>


</head>

<body>



<!-- display flash message for bad user-->
<div class="row">
  <div class="span4">
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, id: "flash_#{name}" %>
    <% end %>
  </div>
</div>

<div id = "center" style = "margin-top: -120px">
<div id = "navcontainer">
<ul>
<li>

  <div class='icon'>
      <%=image_tag("BLACKBEAR.png")%>
      <p style = "margin-top: 10px">Radio</p>  
      </div>
    
 </li>
<li>
<%= link_to(root_path) do %>
  <div class='icon'>
      <%=image_tag("home.png")%>
      <p style = "margin-top: 10px">Home</p>
  </div>
  <% end %>
 </li>

<%= link_to(articles_path) do %>
<li>
  <div class='icon'>
      <%=image_tag("record.png")%>
      <p style = "margin-top: 10px">Reviews</p>
  </div> 
</li>
 <% end %>

</ul>
</div>
</div>

<div = "ugh" style = "margin-top: 120px; color: blue">
<%=yield%>
</div>


</body>
</html>
